body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to top right, #769abb, #323436);
    color: #0e0f0f;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

.group {
    width: auto;
    text-align: center;
    padding: 30px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 20px;
    font-family: 'Poppins', sans-serif;
}

.group input {
    border: 2px solid #332929;
    outline: none;
    padding: 20px;
    width: calc(100% - 40px);
    border-radius: 5px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color: #000;
}

.group input:focus {
    border: 2px solid #769abb;
}

.group .power-container {
    width: 100%;
    height: 15px;
    border: 1px solid #cfd2d8;
    margin-top: 20px;
    border-radius: 15px;
    background-color: #cfd2d8;
    margin-bottom: 20px;
    position: relative;
}

.group .power-container #power-point {
    height: 100%;
    width: 0;
    background-color: red;
    border-radius: 5px;
    position: absolute;
    left: 0;
    top: 0;
    transition: width 0.5s;
}

.group .power-container #text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    font-weight: 500;
    color: #000;
}

#feedback {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

#feedback li {
    margin: 5px 0;
    font-size: 14px;
    color: #333;
}
